backcall==0.2.0
certifi==2020.12.5
click==7.1.2
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
gensim==3.8.3
ipython-genutils==0.2.0
kiwisolver==1.2.0
mkl-fft==1.0.6
mkl-random==1.0.1.1
notify2==0.3.1
olefile==0.46
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
portalocker==2.0.0
ptyprocess==0.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.2
sacrebleu==1.4.14
sentencepiece==0.1.94
sip==4.19.3
six==1.15.0
smart-open==4.0.1
torch==1.5.1
torchsummary==1.5.1
torchvision==0.6.0
tornado==6.0.4
tqdm 
traitlets 
wcwidth 
